@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    --background: 270 100% 98.04%;
    --foreground: 270 100% 4.9%;

    --primary: 270 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 270 100% 98.04%;
    --card-foreground: 270 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 270 100% 4.9%;

    --secondary: 270 100% 92.55%;
    --secondary-foreground: 270 100% 0.98%;

    --muted: 270 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 270 100% 95.1%;
    --accent-foreground: 270 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 270 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 270 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #9c27b0, #ba68c8);

    --background: 270 65% 3.52%;
    --foreground: 270 10% 97.2%;

    --muted: 270 50% 13.2%;
    --muted-foreground: 270 10% 54.4%;

    --popover: 270 45% 5.72%;
    --popover-foreground: 270 10% 97.2%;

    --card: 270 45% 5.72%;
    --card-foreground: 270 10% 97.2%;

    --border: 270 50% 13.2%;
    --input: 270 50% 13.2%;

    --primary: 270 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 270 50% 13.2%;
    --secondary-foreground: 270 10% 97.2%;

    --accent: 270 50% 13.2%;
    --accent-foreground: 270 10% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 270 10% 97.2%;

    --ring: 270 100% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(106, 27, 154) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
